@import url(https://fonts.googleapis.com/css?family=Noticia+Text);

.navbartab {
  font-family: 'Noticia Text', serif;
  color: black;
  font-size: 30px;
}
#h1 {text-align: center;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  font-size: 40px;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Noticia Text', serif;
  color: black;
}
.title {text-align: center;
}
#headshot
  {background no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.socialmedia {
  font-weight: bold;
}
#aboutmepic {
  background-size: 800px 800px;
}
