@import url(https://fonts.googleapis.com/css?family=Noticia+Text);

.navbartab {
  font-family: 'Noticia Text', serif;
  color: black;
  font-size: 30px;
}
#h1 {text-align: center;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  font-size: 40px;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Noticia Text', serif;
  color: black;
  background-color: beige;
}
.title {text-align: center;
  color: red;
}

.socialmedia {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}
.writingsample {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}
#aboutmepic {
  padding-top: 60px;
  padding-right: 15px;
  padding bottom: 60px;
}

.headshot {background-image: url("../../photos/headshot.jpg");
height: 1000px;
border-top-style: solid;
border-top-color: black;
border-top-width: thick;
}
li {
  margin-bottom: 12px;
}
.subtitles {
  color: gray;
  font-weight: bold;
}
.col-md-6 {
  padding-left: 15px;
  padding-right: 15px;
}
