@import url(https://fonts.googleapis.com/css?family=Noticia+Text);

.navbartab {
  font-family: 'Noticia Text', serif;
  color: black;
  font-size: 30px;
}
#h1 {text-align: center;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Noticia Text', serif;
}
.title {text-align: center;
}
